.vhminus {
  min-height: calc(100vh - 100px);
}

.profile-selection-layout {
  position: absolute;
  top: 500px;
  left: 0;
}

@media only screen and (max-width: 600px) {
  .text-align-end {
    text-align: end;
  }

  .text-align-start {
    text-align: start;
  }
}
